# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Database
db.sqlite3

# VS Code
.vscode/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Migrations cache
*.pyc